* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif !important;
  /* font-size: 1.5rem; */
  line-height: 1.5;
}
body a {
  transition: all 0.5s;
}

/* top header */
.header_top {
  background-color: #0d369f;
  padding: 14px 15px;
}
@media only screen and (max-width: 991px) {
  .header_top {
    display: none;
  }
  header {
    background-color: transparent;
  }
}
.header_top ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 15px;
}

.header_top li {
  display: inline-block;
  margin-right: 30px;
  font-size: 15px;
  font-weight: 500;
}

.header_top a {
  text-decoration: none;
  color: #ffffff;
}

.header_top_left a:hover {
  color: #fe6e65;
}

.header_top_left i {
  margin-right: 8px;
  font-size: inherit;
  color: #fff;
}

.header_top_right ul {
  padding-right: 15px;
}
.header_top_right i {
  transition: all 0.5s;
}
.header_top_right i:hover {
  color: #fe6e65;
}
/* end top header */

/* header */
header {
  transition: all 0.5s;
  display: grid;
  align-items: center;
}

header .navbar-brand {
  color: #0d369f;
  font-size: 26px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}
.navbar {
  padding: 1.2rem 1rem;
}
header .navbar-brand:hover {
  color: #fe6e65;
}
.navbar .navbar-nav .nav-item {
  padding: 0 12px;
  transition: all 0.5s ease;
}
.nav-item .nav-link {
  font-size: 16px;
  color: #060606;
  font-weight: 600;
  padding: 6px 0px !important;
}
.navbar-nav .nav-item .nav-link:hover {
  color: #fe6e65;
}
.nav-item .nav-link:focus {
  color: #fe6e65;
}
.nav-item .nav-link.active {
  color: #fe6e65 !important;
}
.nav-item .nav-link.active i {
  color: #fe6e65;
}
.dropdown-item {
  font-size: 16px;
  color: #060606 !important;
  padding: 5px 24px !important;
  font-weight: 600 !important;
}
.dropdown-item:hover {
  color: #fe6e65 !important;
}
.nav-link i {
  font-size: 10px;
  color: #707070;
  position: absolute;
  top: 10px;
  right: -2px;
  font-size: 11px;
}
.navbar .form-control {
  border-radius: 30px;
  padding: 10px 35px 10px 20px;
  border: 2px solid #eee;
}
header .form-control:focus {
  border-color: #eee;
  box-shadow: none;
}
header button.search-btn {
  padding: 0px 20px 0px 0px;
  position: absolute;
  right: 0;
}

header button.btn:hover {
  border-color: #ccc #bbb #aaa;
}
header button:hover i {
  color: #fe6e65;
}

header button i {
  color: #0d369f;
}
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}
.switch {
  display: inline-block;
  position: relative;
  margin: 0;
}
.switch input {
  display: none;
}
.mode-container {
  width: 24px;
  height: 24px;
  padding: 0px 0;
  margin-left: 10px;
  color: #0d369f;
  cursor: pointer;
}
.mode-container:hover {
  color: #fe6e65;
}
.mode-container i {
  font-size: 20px;
}
.mode-container i.fa-sun {
  display: none;
}

/* end header */

/* carousel */
.carousel .carousel-caption {
  max-width: 600px !important;
  top: 150px;
  left: 25px;
  text-align: left;
  margin: 0 40px;
}
.carousel::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: 2;
  background: linear-gradient(
    75deg,
    rgb(16 16 16 / 34%) 10%,
    rgb(230 2 100 / 0%)
  );
}
.carousel .carousel-caption {
  z-index: 999;
}
@media (max-width: 768px) {
  .carousel .carousel-caption h5 {
    font-size: 45px;
    line-height: 55px;
  }
}
@media (max-width: 992px) {
  .carousel .carousel-caption h5 {
    font-size: 50px;
    line-height: 60px;
  }
}
@media (max-width: 1200px) {
  .carousel .carousel-caption h5 {
    font-size: 57px;
    line-height: 67px;
  }
}
.carousel .carousel-item img {
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
}
.carousel .carousel-indicators {
  right: 15px !important;
  bottom: 100px !important;
  left: auto;
  flex-direction: column;
  margin: auto 0 0 0;
}
.carousel-indicators [data-bs-target] {
  width: 12px !important;
  height: 12px !important;
  border-radius: 50%;
  border-top: 5px solid transparent !important;
  border-bottom: 5px solid transparent !important;
  margin: 2px 5px !important;
  opacity: 1 !important;
}

.carousel .carousel-indicators .active {
  background-color: #fe6e65 !important;
}

.carousel h5 {
  font-size: 70px;
  line-height: 80px;
  font-weight: bold;
  color: #fff;
}

.carousel .btn-style {
  padding: 14px 30px;
  font-weight: 600;
  font-size: 16px;
  color: #060606;
  border-radius: 4px;
  background: #fff;
  transition: all 0.5s;
}
.carousel .btn-style:hover {
  color: #fff;
  background-color: #fe6e65;
}
/* end carousel */

/* welcome */
.welcome_top {
  position: relative;
  margin-top: -64px;
  padding-bottom: 48px;
  z-index: 1000;
}
.welcome_top .welcome_item.color1 {
  background-color: #037ef3;
}
.welcome_top .welcome_item.color2 {
  background-color: #ffc949;
}
.color2 i {
  transform: skewX(-12deg);
}
.welcome_top .welcome_item.color3 {
  background-color: #ff4f81;
}
.welcome_top .welcome_item.color4 {
  background-color: #1ee697;
}
.welcome_top .welcome_item {
  padding: 50px 35px;
  position: relative;
  z-index: 1;
  border-radius: 8px;
  background-color: #fff;
  transition: all 0.5s;
}
.welcome_top .welcome_item:hover h4 {
  color: #000;
}

.welcome_top .welcome_item i {
  font-size: 45px;
  color: #fff;
}
.welcome_top .welcome_item h4 {
  margin-top: 25px;
  display: block;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  cursor: pointer;
}
.welcome_body_title h3 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  position: relative;
}
.welcome_body_title h3::before {
  content: "";
  left: -20px;
  bottom: -8px;
  background: #707070;
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
}
.welcome_body_title h3::after {
  content: "";
  left: 20px;
  bottom: -15px;
  background: #707070;
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
}
.welcome_body_title span {
  color: #fe6e65;
}
.welcome_body_item i {
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 50%;
  font-size: 30px;
  color: #0d369f;
  background-color: rgb(13 54 159 / 9%);
}
.welcome_body_item a {
  text-decoration: none;
  color: #000;
  transition: all 0.5s;
}
.welcome_body_item h3 {
  margin-top: 24px;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
}
.welcome_body_item h3:hover {
  color: #fe6e65;
}
.welcome_body_item p {
  margin-top: 15px;
  font-size: 16px;
  line-height: 28px;
  color: #707070;
  letter-spacing: 0.4px;
}

.welcome_bottom {
  background-image: url(../images/bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.welcome_bottom_item {
  background: #fff;
  padding: 30px;
  border-radius: 8px;
}
.welcome_bottom i {
  width: 65px;
  height: 65px;
  line-height: 65px;
  text-align: center;
  border-radius: 50%;
  color: #0d369f;
  background-color: rgb(13 54 159 / 9%);
  font-size: 28px;
  margin-right: 16px;
}
.welcome_bottom_item h5 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #060606;
}
.welcome_bottom_item p {
  color: #707070;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.4px;
}
/* @media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
} */
/* end welcome */

/* number */
.number {
  text-align: center;
}
.number_title {
  max-width: 700px;
}
.number_title h3 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  position: relative;
}
.number_title h3::before {
  content: "";
  left: -20px;
  bottom: -8px;
  background: #707070;
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
}
.number_title h3::after {
  content: "";
  left: 20px;
  bottom: -15px;
  background: #707070;
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
}
.number_title span {
  color: #fe6e65;
}
.number_title p {
  font-size: 16px;
  line-height: 28px;
  color: #707070;
  letter-spacing: 0.4px;
}
.number_content h6 {
  font-size: 46px;
  font-weight: 600;
  color: #060606;
}
.number_content p {
  color: #060606;
}
.number_col {
  border-right: 1px solid #eee;
}
.number_col:last-child {
  border-right: none;
}
/* end number */

/* Feedback */
.feedback_title {
  max-width: 700px;
}
.feedback_title h3 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  position: relative;
}
.feedback_title h3::before {
  content: "";
  left: -20px;
  bottom: -8px;
  background: #707070;
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
}
.feedback_title h3::after {
  content: "";
  left: 20px;
  bottom: -15px;
  background: #707070;
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
}
.feedback_title span {
  color: #fe6e65;
}
.feedback_item {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
  padding: 32px;
}
.feedback_item i {
  font-size: 22px;
  color: #fe6e65;
  line-height: 0.8px;
  display: inline-block;
}
.feedback_item p {
  color: #707070;
  text-indent: 5px;
}

.feedback_item img {
  border-radius: 50%;
}
.feedback_item h5 {
  font-weight: 600;
  line-height: 16px;
  margin-bottom: 0;
}
.feedback_item span {
  font-size: 13px;
  color: #707070;
  letter-spacing: 0.4px;
  line-height: 28px;
}
/* end feedback */

/* instructors */
.instructors_title {
  max-width: 700px;
}
.instructors_title h3 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  position: relative;
}
.instructors_title h3::before {
  content: "";
  left: -20px;
  bottom: -8px;
  background: #707070;
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
}
.instructors_title h3::after {
  content: "";
  left: 20px;
  bottom: -15px;
  background: #707070;
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
}
.instructors_title span {
  color: #fe6e65;
}

.instructors_item {
  box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
  padding: 10px;
  background: #fff;
  border-radius: 8px;
  transition: all 0.5s;
  cursor: pointer;
}

.instructors_item a {
  text-decoration: none;
  color: #060606;
  font-weight: 600;
}
.instructors_item p {
  font-size: 80%;
  font-weight: 400;
  color: #707070;
}
.instructors_item_photo {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.instructors_item:hover .instructors_item_social {
  bottom: 0;
}
.instructors_item:hover a {
  color: #fe6e65;
}
.instructors_item:hover a:hover {
  color: #060606;
}
.instructors_item_photo .instructors_item_social {
  position: absolute;
  bottom: -227px;
  margin: 0;
  background: rgb(8 8 8 / 29%);
  padding: 20px 0;
  transition: all 0.5s;
  width: 100%;
  text-align: center;
}
.instructors_item_social a {
  background: #fff;
  width: 28px;
  height: 28px;
  display: inline-block;
  border-radius: 50%;
}
.instructors_item_social a:hover {
  opacity: 0.8;
}

.instructors_item_social i {
  font-size: 14px !important;
  line-height: 28px;
  color: #0d369f !important;
  padding-right: 0 !important;
}

.instructors_bottom img {
  max-width: 100%;
  display: block;
  border-radius: 8px;
}
.instructors_bottom h3 {
  font-size: 35px;
  font-weight: 600;
  line-height: 45px;
}
.instructors_bottom p {
  font-size: 16px;
  line-height: 28px;
  color: #707070;
  letter-spacing: 0.4px;
}
.instructors_bottom .btn-style {
  padding: 14px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 4px;
  color: #fff;
  background: #fe6e65;
  transition: all 0.5s;
}

.instructors_bottom .btn-style:hover {
  background: #0d369f;
  color: #fff;
}
/* end instructors */

/* footer */
footer .container {
  max-width: 1200px;
}
footer .footer_content {
  background-color: #060e1f;
  padding: 80px 0px;
}
footer .footer_head {
  padding: 50px;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 10px;
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: -60px;
  box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
}
.footer_head h4 {
  font-size: 35px;
  line-height: 40px;
  font-weight: 600;
  color: #060606;
}
.footer_head p {
  font-size: 15px;
  letter-spacing: 1px;
  color: #707070;
}
.footer_head form input {
  background: transparent;
  padding: 15px 20px;
  font-size: 16px;
  color: #060606;
  width: 100%;
  border-radius: 8px 0px 0px 8px;
  height: 55px;
  border: 1px solid #eee;
}
.footer_head .form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(46, 202, 139, 0.25);
  border-color: #91e6c4;
  border: 1px solid #eee;
}
.footer_head button {
  background-color: #0d369f !important;
  border: none;
  color: #fff !important;
  padding: 16px 30px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 0px 8px 8px 0px;
  transition: all 0.5s;
}
.footer_head button:hover {
  opacity: 0.9 !important;
}
.footer_body {
  margin-top: 120px;
}
.footer_body h6 {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(23, 54, 88, 0.4);
}
.footer_body ul {
  list-style-type: none;
  padding-left: 0;
}
.footer_body ul li {
  display: block;
  margin: 0px 0px 10px 0px;
}
.footer_body a {
  text-decoration: none;
  color: #cecece;
  font-size: 14px;
  line-height: 24px;
  transition: all 0.5s;
}
.footer_body a:hover {
  color: #fff;
}
.footer_body .col-lg-2 i,
.col-lg-3 i {
  color: #fff;
  font-size: 10px;
  padding-right: 10px;
}
#column_3 ul li:nth-child(2) {
  padding: 10px 0;
  margin-top: 10px;
  margin-bottom: 0px !important;
}
#column_3 ul li:first-child {
  margin-top: 0px;
}
#column_3 ul li:last-child {
  margin-top: 10px;
}
#column_3 i {
  font-size: 18px !important;
  margin-right: 10px;
}
#column_3 a {
  font-size: 15px;
  line-height: 25px;
}
.footer_body .col-lg-4 {
  border-left: 1px solid rgb(64 73 82 / 51%);
  padding-left: 3rem;
}
#column_4 ul li {
  display: inline;
}
#column_4 ul li i {
  color: #fff;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.06);
  margin-right: 5px;
  font-size: 15px;
}

#column_4 ul li i:hover {
  opacity: 0.8;
  transition: 0.3s ease;
}

.footer_body .col-lg-4 p {
  color: #cecece;
  font-size: 14px;
  line-height: 24px;
}
footer .footer_copyright {
  background-color: #040a18;
  padding: 20px 0;
}
.footer_copyright p {
  color: #a0a0a0;
  margin-bottom: 0;
}
.footer_copyright a {
  text-decoration: none;
  color: white;
  transition: all 0.5s;
}
.footer_copyright a:hover {
  text-decoration: underline;
}
/* end footer */

/* BackToTop */
.backToTop {
  position: fixed;
  right: 15px;
  bottom: 90px;
  visibility: hidden;
  opacity: 0;
}
.backToTop:hover {
  opacity: 0.8;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
.backToTop i {
  background: #0b2f86;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  text-align: center;
  transition: all 0.2s;
  font-size: 16px;
}
/* end backtotop */

/* CONTACT PAGE */
/* slider */
.slider {
  background-image: url(../images/bg4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 300px;
  position: relative;
  z-index: 1;
}
.slider_content {
  padding-top: 120px;
}
.slider a {
  text-decoration: none;
  color: #fff;
  opacity: 0.8;
  font-size: 15px;
}
.slider a:hover {
  opacity: 1;
}
.slider span {
  font-size: 15px;
  color: #d4d4d4;
}

/* end silder` */

/* information */
.information h3 {
  font-weight: bold;
}
.information_item {
  font-size: initial;
}
.information i {
  font-size: 18px;
  color: #fe6e65;
}
.information h6 {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 8px;
}
.information p {
  font-size: 16px;
  line-height: 28px;
  color: #707070;
  letter-spacing: 0.4px;
  margin-bottom: 0;
}
.information a {
  text-decoration: none;
  font-size: 16px;
  line-height: 28px !important;
  color: #707070;
  letter-spacing: 0.4px;
  height: 18px;
}
.information a:hover {
  color: #fe6e65;
}
.map iframe {
  border: 10px solid #fff;
  box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 6%);
  max-width: 100%;
}
/* end information */
/* question */

.question_title {
  max-width: 700px;
}
.question_title h3 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  position: relative;
}
.question_title h3::before {
  content: "";
  left: -20px;
  bottom: -8px;
  background: #707070;
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
}
.question_title h3::after {
  content: "";
  left: 20px;
  bottom: -15px;
  background: #707070;
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
}
.question_title span {
  color: #fe6e65;
}
.question img {
  border-radius: 8px;
  max-width: 100%;
  display: block;
}
.question .contact-form input {
  width: 100%;
  color: #666;
  border-radius: 3px;
  background: #f9f9f9;
  font-size: 15px;
  padding: 14px;
  border: 1px solid #eee;
  margin-bottom: 16px;
}
.question input:focus-visible {
  outline: 1px solid #fe6e65;
}
.question form textarea {
  height: 120px;
  margin: 0 0 20px 0;
  width: 100%;
  color: #060606;
  background: #f9f9f9;
  font-size: 15px;
  padding: 14px;
  border: 1px solid #eee;
  border-radius: 8px;
}
.question form textarea:focus-visible {
  outline: 1px solid #fe6e65;
}
.question .btn-style {
  background: #fe6e65;
  color: #fff;
  padding: 14px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 4px;
  transition: all 0.5s;
}
.question .btn-style:hover {
  background: #0b2f86;
}

/* end question */

/* css about us  */

*.sub_title {
  margin-top: 30px;
}

.banner_bg {
  background-image: url(./../images/bg4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 300px;
  position: relative;
  z-index: 1;
}

.banner_bg::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.banner_title {
  padding-top: 150px;
  position: relative;
  z-index: 2;
}

.banner_title h2 {
  font-size: 21px;
  font-weight: 700;
}

.banner_title a {
  text-decoration: none;
  transition: all 0.5s;
  cursor: pointer;
}

.banner_title a,
.banner_title i,
.banner_title span {
  color: #d4d4d4;
  font-size: 15px;
}

.banner_title i {
  padding: 0 5px 0 5px;
}

.banner_title a:hover {
  color: #fff;
}

/* css about_intro  */

.about_intro_left {
  padding-right: 3rem;
}

.about_intro h2 {
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
}

.about_intro_content_top p {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.4px;
  color: var(--font-color);
}

.about_intro_right {
  position: relative;
}

.about_intro_content_top img {
  width: 100%;
  border-radius: 8px;
}

.about_intro_playbt {
  text-align: center;
  position: absolute;
  top: calc(50% - 40px);
  right: 0;
  left: 0;
  cursor: pointer;
}

.about_intro_content_top i {
  /* display: inline-block; */
  width: 80px;
  height: 80px;
  font-size: 35px;
  padding-left: 10px;
  text-align: center;
  line-height: 70px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  color: #fff;
  /* animation: ripple 1s linear infinite; */
  /* color: transparent; */

  border: 4px solid #fff;
  background: rgb(12 12 12 / 22%);
}

.about_intro_content_top i:hover {
  transform: scale(1.1);
}

.about_intro_video {
  display: none;
}

#video {
  max-width: 750px;
  margin: 40px;
  position: relative;
}

.about_intro_video iframe {
  width: 100%;
  height: 420px;
  border-radius: 10px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#video {
  margin: 0;
  max-width: 900px;
  border-radius: 20px;
}

.about_intro_right .modal-content {
  background-color: transparent;
  border: none;
}

.about_intro_right .modal-body {
  padding: 0;
}

.about_intro_right .modal {
  --bs-modal-width: 900px;
}

.about_intro_right .modal-header {
  border-bottom: none;
}
.about_intro_playbt .btn-primary {
  --bs-btn-color: none;
  --bs-btn-bg: none;
  --bs-btn-border-color: none;
  --bs-btn-hover-color: none;
  --bs-btn-hover-bg: none;
  --bs-btn-hover-border-color: none;
}

/* css intro_bottom_number  */

.about_intro_content_bottom {
  text-align: center;
}

.about_number_item .number p {
  font-size: 46px;
  font-weight: 600;
  color: #060606;
}

.about_number_item4 .number p {
  font-size: 46px;
  font-weight: 600;
  color: #060606;
}

.about_number_item p {
  text-transform: uppercase;
  color: #060606;
}
.about_number_item4 p {
  text-transform: uppercase;
  color: #060606;
}

.about_number_item {
  border-right: 1px solid #eee;
}

.about_number_item4 {
  border-right: none;
}

/* css about_service  */

.about_service {
  background-color: #f8f9ff;
}

.about_service_item {
  padding: 40px 30px;
  border-radius: 8px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #eee;
  text-align: center;
}

.about_service .service_icon1 i {
  color: #0abf53;
  background: rgb(10 191 83 / 10%);
  font-size: 30px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
}

.about_service .service_icon2 i {
  color: #ffc947;
  background: rgb(255 201 73 / 22%);
  font-size: 30px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
}

.about_service .service_icon3 i {
  color: #ff4f81;
  background: rgb(255 79 129 / 15%);
  font-size: 30px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
}

.about_service a {
  font-size: 24px;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 15px;
  display: inline-block;
  color: #060606;
  text-decoration: none;
}

/* css about_team  */

.about_team_title {
  position: relative;
  margin-bottom: 48px;
}

.about_team_title::after {
  content: "";
  background: #707070;
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
  left: -20px;
  bottom: -8px;
}

.about_team_title::before {
  content: "";
  background: #707070;
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
  left: 20px;
  bottom: -15px;
}

.about_team_title h2 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: #060606;
}

.about_team_title span {
  /* font-size: 40px;
  font-weight: 600; */
  color: #ff6e65;
}

.about_team {
  text-align: center;
}

.about_team_item {
  box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
  padding: 10px;
  background: #fff;
  border-radius: 8px;
}

.about_item_img img {
  width: 100%;
  border-radius: 8px 8px 0 0;
  cursor: pointer;
}

.about_item_img {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.about_item_text {
  padding: 1.5rem;
}

.about_team_item h3 {
  font-weight: 600;
  color: #060606;
  transition: all 0.5s;
  cursor: pointer;
}

.about_team_item p {
  font-weight: 400;
}

.about_item_teaminfo {
  position: absolute;
  bottom: -100px;
  margin-right: 25px;
  background: rgb(8 8 8 / 29%);
  padding: 20px 0;
  transition: 0.5s all;
  width: 100%;
  text-align: center;
}

.about_item_teaminfo i {
  background: #fff;
  width: 28px;
  height: 28px;
  display: inline-block;
  border-radius: 50%;
  color: #0d369f;
  font-size: 14px;
  line-height: 28px;
  padding: 0;
  margin: 0 5px 0 5px;
  transition: all 0.5s;
}

.about_team_item:hover .about_item_teaminfo {
  bottom: 0;
}

.about_team_item:hover .about_item_text h3 {
  color: #ff6e65;
}

.about_item_teaminfo i:hover {
  opacity: 0.8;
}

/* css about_mission  */
.about_mission_left {
  padding: 0 48px 0 15px;
}

.about_mission_left h2 {
  font-size: 45px;
  line-height: 55px;
  font-weight: 600;
}

.about_mission_left p {
  font-size: 16px;
  line-height: 28px;
  color: #707070;
  letter-spacing: 0.4px;
}

.about_mission_left li {
  list-style: none;
}

.about_mission_left li span {
  font-size: 16px;
  line-height: 28px;
  color: #707070;
  letter-spacing: 0.4px;
}
.about_mission_left li i {
  font-size: 16px;
  line-height: 28px;
  color: #ff6e65;
  letter-spacing: 0.4px;
  margin-right: 5px;
}

.about_mission_right img {
  width: 100%;
  border-radius: 8px;
  display: block;
}

@media screen and (min-width: 768px) {
  .about_team_title span {
    display: block;
  }
}

@media (max-width: 1200px) {
  .about_mission_left h2 {
    font-size: 35px;
    line-height: 50px;
  }
}

/* css element_page  */

/* css ele_title  */

.ele_title {
  position: relative;
  text-align: center;
  padding-top: 96px;
}

.ele_title::after {
  content: "";
  background: #707070;
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
  left: -20px;
  bottom: -8px;
}

.ele_title::before {
  content: "";
  background: #707070;
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
  left: 20px;
  bottom: -15px;
}

.ele_title_text h2 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
}

.ele_title_text span {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: #ff6e65;
}

/* css ele_content  */
.ele_content {
  padding: 96px 12px 48px 12px;
}

.sub_title {
  color: #060606;
  font-size: 1.5em;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 0;
}

.ele_border {
  padding: 2rem;
  border-width: 0.2rem;
  border: solid #f8f9ff;
  margin-top: 1rem;
}

.ele_highlight_title {
  background-color: #f8f9ff;
  padding: 32px;
  margin-top: 16px;
}

.ele_text_h1 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  color: #060606;
  font-family: "Montserrat", sans-serif;
}

.ele_text_sub_p {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 28px;
  color: #707070;
  letter-spacing: 0.4px;
}

.ele_text_p {
  font-size: 16px;
  line-height: 28px;
  color: #707070;
  letter-spacing: 0.4px;
}

.bl_btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  background-color: #0d369f;
  color: #fff;
  border: none;
  text-transform: capitalize;
  transition: all 0.5s;
}

.bl_btn:hover {
  background-color: #ff6e65;
}
.ele_highlight_code {
  padding: 1.5rem;
  background-color: #f8f9ff;
  margin: 1em 0;
}

* pre {
  background: #f8f9ff;
  font-family: "Courier 10 Pitch", courier, monospace;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow-x: scroll;
  padding: 1.6em;
  margin-left: 0;
}

.ele_highlight_code span {
  font-size: 16px;
  font-weight: 500;
}

/* code p_color  */

.na {
  color: #4f9fcf;
}

.s {
  color: #d44950;
}

.t {
  color: #060606;
}

.nt {
  color: #060606;
}

.sub_title_inner {
  color: #0d369f;
  font-size: 1.4em;
  font-weight: 600;
}

.ele_highlight_title_sub {
  background-color: #f8f9ff;
  padding: 10px;
  margin-bottom: 16px;
}
.ele_highlight_title_sub p {
  margin-bottom: 0;
}

.blockquote p {
  font-size: 16px;
  color: #707070;
}

.blockquote footer {
  font-size: 16px;
  color: #6c757d;
}

.text-right {
  text-align: right;
}

/* link_btn */

.ele_btn .btn-link {
  font-weight: 400;
  text-decoration: none;
  transition: all 0.5s;
}

.ele_btn .btn-link:hover {
  color: #ff4c4c;
  text-decoration: underline;
}

.ele_btn .btn-link {
  --bs-btn-active-border-color: #ccc #bbb #aaa;
  --bs-btn-hover-border-color: #ccc #bbb #aaa;
  --bs-btn-color: #ff4c4c;
}

/* primary_btn  */

.ele_btn .btn-primary {
  --bs-btn-hover-bg: #ff6e65;
}

/* secondary_btn  */
.ele_btn .btn-secondary {
  --bs-btn-hover-bg: #2c294a;
}

/* outline-primary-button  */
.ele_btn .btn-outline-primary {
  --bs-btn-hover-bg: #ff4c4c;
  --bs-btn-hover-border-color: #ff4c4c;
}

.ele_btn .btn-outline-secondary {
  --bs-btn-hover-bg: #e71d36;
  --bs-btn-hover-border-color: #e71d36;
}

.ele_btn .btn-outline-success {
  --bs-btn-hover-bg: #28a745;
  --bs-btn-hover-border-color: #28a745;
}

.ele_btn .btn-outline-danger {
  --bs-btn-hover-bg: #dc3545;
  --bs-btn-hover-border-color: #dc3545;
}

.ele_btn .btn-outline-warning {
  --bs-btn-hover-bg: #ffc107;
  --bs-btn-hover-border-color: #ffc107;
}

.ele_btn .btn-outline-info {
  --bs-btn-hover-bg: #17a2b8;
  --bs-btn-hover-border-color: #17a2b8;
}

/* flex_direction_item  */

.bg-flex {
  background-color: #f8f9ff;
}

.bg_color_item {
  background-color: #fff;
}

/* badges  */

.ele_badges .badge {
  --bs-badge-font-size: 75%;
  --bs-badge-font-weight: 600;
}

.badge_bg {
  background-color: #0d369f;
}

.text_badge {
  font-weight: 400;
  line-height: 28px;
}

h4.text_badge {
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: bold;
}

h5.text_badge {
  font-size: 1.4rem;
  font-weight: 600;
}

.ele_list .list-group {
  --bs-list-group-bg: #f8f9ff;
  --bs-list-group-active-bg: #0d369f;
}

.ele_list .badge {
  border-radius: 10px;
  padding-top: 0.2em;
  padding-right: 0.5em;
  padding-bottom: 0.2em;
  padding-left: 0.5em;
}

/* .ele_tables  */

.ele_tables .table th {
  --bs-table-bg: #f8f9ff;
}

.ele_tables th {
  border: 1px solid #dee2e6;
}

.ele_tables td {
  border: 1px solid #dee2e6;
}

.ele_tables td.bg_table {
  background-color: #f2f2f2;
}

/* ele_modal  */

.ele_modals .btn-primary {
  --bs-btn-bg: #0d369f;
  --bs-btn-hover-bg: #ff6e65;
}

.ele_modals .btn-secondary {
  --bs-btn-bg: #e71d36;
  --bs-btn-hover-bg: #2c294a;
}

/* ele_forms  */

.ele_forms .form-control {
  background-color: #f8f9ff;
}

.ele_forms .btn-primary {
  --bs-btn-bg: #0d369f;
  --bs-btn-hover-bg: #ff6e65;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.inner-banner {
  background-image: url(./../image/bg4.jpg);
}
img.wp-smiley,
img.emoji {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 0.07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
}
.recentcomments a {
  display: inline !important;
  padding: 0 !important;
  margin: 0 !important;
}
